:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
}
body{
    background-color:var(--cor-de-fundo);
    color:var(--branco-principa);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
.principa{
    background-image: url(imagens/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: nome;
margin-bottom:1em ;
}
.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principa);
}

.container__aviso{ font-size: 12px;
color: var(--cinza-secundario);
}
.container__titulo{ font-size: 28px;
font-weight: 700;
}

.conteiner__imagem{
    margin: 1em 0 2em 0;
}
.container__caixa{ margin: 0 6em;
}

.secundario__imagem{
    width: 80%;
}
.secundario{
    align-items: center;
    margin 0 10em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
}
.descricao__texto{
    margin-bottom: 0.1em;
    color: var(--cinza-secundario); 
}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}

